.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: white;
}
.headerContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.HeaderItemLi{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    background-color: #555;
    position:relative;
}
.lilink{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}
.iconNav{
    width: 50px;
    margin-top: 10px;
    font-size: 30px;
    position: relative;
    align-items: center;
} 

.HeaderItemLi a{
    background-color: #555;
    color: white;
    font-size: 30px;
}
select{
    height: 40px;
    width: 130px;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
}
#language *{
    padding: 15px;
}
.none{
    display: none;
}
.block{
    width: 80%;
    position: absolute;
    top: 50px;
    left: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background: #555;
    z-index: 2;
}
.block1{
    width: 100px;
    height: 50px;
    position: absolute;
    font-size: 25px;
    top: 63px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ccc;
    color: #555;
    z-index: 2;
    cursor: pointer;
}
.block2{
    width: 100px;
    height: 50px;
    position: absolute;
    font-size: 25px;
    top: 63px;
    right: -58px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ccc;
    color: #555;
    z-index: 2;
    cursor: pointer;
}
.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.headerItem li {
    margin: 15px;
}
.display1{
    display: none;
}
.headerLink{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 15px ;
}

.block li{
    margin: 0;
    width: 80px;
}