.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer{
    background: #555;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerContent{
    border-top: solid #ccc 2px;
    color: #ccc;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.footerItem{
    width: 100%;
    background: white;
    margin: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}
.footerContent ul{
    margin-top: 50px;
    background-color: #555;
}
.footerContent li{
    margin: 20px;
}
.icon{
    color: #555;
}

img{
    width: 40px;
    height: 50px;
}
.footer a{
    width: 50px;
    color: #555;
    background-color: white;
}