.mailer{
    margin: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #555;
}
.mailerContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    background-color: #555;
}
.mailerItem{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #555;
    height: 40vh;
}
.title{
    align-items: center;
    color: #ccc;
}

p{
    align-items: center;
    color: #ccc;
    font-size: 28px;
}
.mailer .input[type=text]{
    width: 40%;
}
.input{
    height: 45px;
    font-size: 25px;
    padding-left: 10px;
    color: #555;
}
.btn{
    margin-bottom: 40px;
    width: 30%;
    height: 45px;
    font-size: 1.2em;
    color: #555;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.mailerItem button:hover{
    color: rgb(3, 2, 2);
}